00 Winter 22-23/NLP/HW/HW1/weights.pkl
00 Winter 22-23/NLP/HW/HW1/predictions.wtag
00 Winter 22-23/NLP/HW/HW1/weights_1.pkl
00 Winter 22-23/NLP/HW/HW1/weights_2.pkl
00 Winter 22-23/NLP/HW/HW1/data/comp_m1_123456789_987654321.wtag
00 Winter 22-23/NLP/HW/HW1/generate_comp_tagged.py

00 Winter 22-23/NLP/HW/HW1/generate_comp_tagged.py
00 Winter 22-23/NLP/HW/HW1/weights_200.pkl
00 Winter 22-23/NLP/HW/HW1/data/test1_predictions.wtag
00 Winter 22-23/NLP/HW/HW1/data/train_1_mini_output.wtag
00 Winter 22-23/NLP/HW/HW1/data/train_1_mini_weights.wtag
00 Winter 22-23/NLP/HW/HW1/data/train1 mini.wtag
00 Winter 22-23/NLP/HW/HW1/weights_200_300.pkl
00 Winter 22-23/NLP/HW/HW1/main.py
00 Winter 22-23/NLP/HW/HW1/main.py
00 Winter 22-23/NLP/HW/HW1/weights_200_300_tresh2.pkl
.DS_Store
00 Winter 22-23/NLP/HW/HW1/conf_matrix.csv
00 Winter 22-23/NLP/HW/HW1/conf_matrixxx.csv
00 Winter 22-23/NLP/HW/HW1/preds_df.csv
00 Winter 22-23/NLP/HW/HW1/true_df.csv
00 Winter 22-23/NLP/HW/HW1/weights_200_300_tresh3.pkl
.gitignore
00 Winter 22-23/NLP/HW/HW1/data/comp_m2_123456789_987654321.wtag
00 Winter 22-23/NLP/HW/HW1/data/train1 test itself.wtag
00 Winter 22-23/NLP/HW/HW1/data/train1 test.wtag
00 Winter 22-23/NLP/HW/HW1/main.py
00 Winter 22-23/NLP/HW/HW1/data/comp_m1_206014482_316375872.wtag
00 Winter 22-23/NLP/HW/HW1/data/comp_m2_206014482_316375872.wtag
